# بیخیال پوشه‌ها و فایل‌های ویندوز
AppData/
Desktop.ini
Thumbs.db
dist/
Extras/


# بیخیال لاگ‌ها
*.log

# بیخیال فایل‌های پیکربندی خصوصی
*.env
*.sqlite
*.db

# پوشه‌های پنهان
.cache/
.config/

# VS Code
.vscode/

# پایتون (اگه باهاش کار می‌کنی)
__pycache__/
*.pyc

# فایل‌های اجرایی
*.exe

__pycache__/

